networks:
  opencloud:

services:
  radicale:
    container_name: radicale
    image: opencloudeu/radicale:latest
    restart: unless-stopped
    networks:
      - opencloud
    volumes:
      - ./opencloud.vol/radicale/config:/etc/radicale/config
      - ./opencloud.vol/radicale/data:/var/lib/radicale
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    deploy:
      resources:
        limits:
          memory: 50M

  opencloud:
    container_name: opencloud
    image: opencloudeu/opencloud:4
    restart: unless-stopped
    entrypoint:
      - /bin/sh
    # run opencloud init to initialize a configuration file with random secrets
    # it will fail on subsequent runs, because the config file already exists
    # therefore we ignore the error and then start the opencloud server
    command: ["-c", "opencloud init || true; opencloud server"]
    networks:
      - opencloud
    ports:
      - 9200:9200
    volumes:
      - ./opencloud.vol/opencloud/config:/etc/opencloud
      - ./opencloud.vol/opencloud/data:/var/lib/opencloud
    env_file: ".env"
    environment:
      OC_LOG_LEVEL: warn
      OC_LOG_COLOR: "true"
      OC_LOG_PRETTY: "true"
      OC_DEFAULT_LANGUAGE: en
      PROXY_TLS: "false" # do not use SSL between the reverse proxy and OpenCloud
      PROXY_HTTP_ADDR: "0.0.0.0:9200"
      FRONTEND_ARCHIVER_MAX_SIZE: "10000000000"
      FRONTEND_CHECK_FOR_UPDATES: "true"
      OC_PASSWORD_POLICY_DISABLED: "true"
      OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD: "true"
      OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD: "true"
      # Resource Management
      AUTOMEMEMLIMIT: off
      GOMEMLIMIT: 300MiB
      GOGC: "50"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    deploy:
      resources:
        limits:
          memory: 300M
