networks:
  ente:

volumes:
  ente-db:
  ente-s3:

services:
  ente-db:
    container_name: ente-db
    image: postgres:18-alpine
    restart: unless-stopped
    networks:
      - ente
    env_file: ".env"
    # Wait for postgres to accept connections before starting ente-server.
    healthcheck:
      test: pg_isready -q -d ${POSTGRES_DB} -U ${POSTGRES_USER}
      start_period: 30s
      start_interval: 1s
    volumes:
      - ente-db:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 60M

  ente-s3:
    container_name: ente-s3
    image: dxflrs/garage:v2.1.0
    restart: unless-stopped
    networks:
      - ente
    ports:
      - 3900:3900
    volumes:
      - ./garage.secret.toml:/etc/garage.toml
      - ./ente.vol/garage-meta:/var/lib/garage/meta
      - ./ente.vol/garage-data:/var/lib/garage/data
    deploy:
      resources:
        limits:
          memory: 20M

  ente-server:
    container_name: ente-server
    image: ghcr.io/ente-io/server:latest
    restart: unless-stopped
    networks:
      - ente
    ports:
      - 3223:8080
    depends_on:
      ente-db:
        condition: service_healthy
    volumes:
      - ./museum.secret.yaml:/museum.yaml:ro
      - ./ente.vol/ente-data:/data:ro
    env_file: ".env"
    deploy:
      resources:
        limits:
          memory: 100M

  # Resolve S3 endpoint to server localhost
  ente-socat:
    container_name: ente-socat
    image: alpine/socat
    networks:
      - ente
    depends_on: [ente-server]
    command: "TCP-LISTEN:3900,fork,reuseaddr TCP:ente-s3:3900"

  ente-web:
    container_name: ente-web
    image: ghcr.io/ente-io/web:latest
    restart: unless-stopped
    networks:
      - ente
    ports:
      - 3000:3000
      - 3001:3001
      - 3002:3002
      - 3003:3003
      - 3004:3004
      - 3005:3005
      - 3006:3006
    env_file: ".env"
    environment:
      - NODE_ENV=development
    deploy:
      resources:
        limits:
          memory: 20M
