networks:
  ente:

volumes:
  ente-db-data:
  ente-minio-data:

services:
  ente-db:
    container_name: ente-db
    image: postgres:18-alpine
    networks:
      - ente
    env_file: ".env"
    # Wait for postgres to accept connections before starting museum.
    healthcheck:
      test: pg_isready -q -d ${POSTGRES_DB} -U ${POSTGRES_USER}
      start_period: 30s
      start_interval: 1s
    volumes:
      - ente-db-data:/var/lib/postgresql/data

  ente-minio:
    container_name: ente-minio
    image: minio/minio
    networks:
      - ente
    volumes:
      - ente-minio-data:/data
    env_file: ".env"
    command: server /data --address ":3200" --console-address ":3201"
    post_start:
      - command: |
          sh -c '
          #!/bin/sh

          while ! mc alias set h0 http://minio:3200 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD} 2>/dev/null
          do
            echo "Waiting for minio..."
            sleep 0.5
          done

          cd /data

          mc mb -p b2-eu-cen
          mc mb -p wasabi-eu-central-2-v3
          mc mb -p scw-eu-fr-v3
          '

  ente-server:
    container_name: ente-server
    image: ghcr.io/ente-io/server:latest
    networks:
      - ente
    ports:
      - 3223:8080
    depends_on:
      ente-db:
        condition: service_healthy
    volumes:
      - ./ente.vol/museum.yaml:/museum.yaml:ro
      - ./ente.vol/data:/data:ro
    env_file: ".env"

  ente-web:
    container_name: ente-web
    image: ghcr.io/ente-io/web:latest
    networks:
      - ente
    ports:
      - 3000:3000
      - 3001:3001
      - 3002:3002
      - 3003:3003
      - 3004:3004
      - 3005:3005
      - 3006:3006
    env_file: ".env"
    environment:
      - NODE_ENV=development
